<!doctype html>
<html ng-app>
<head>  
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/local.css">
  
</head>
<body>
  <div ng-controller="QuestionCtrl" class="row">
    <div class="span3">
      <h3>Total Questions: {{questions.length}}</h3>
      <h4>Correct Responses: {{getCorrectAnswers()}}
    </div>
    <div class="span3">
      <ul class="unstyled questions">
        <li ng-repeat="question in questions" class="correct-{{question.correct}}-tried-{{question.tried}}">
          <div>Who said {{question.text}}</div>
          <ul class='square'>
            <li ng-repeat="a in question.possible_authors">
              <a href="#" ng-click="checkAnswer()">{{a}}</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="http://code.angularjs.org/1.0.1/angular-1.0.1.min.js"></script>
  <script src="http://underscorejs.org/underscore-min.js"></script>
  
  <script src="js/question.js"></script>
</body>
</html>