<!doctype html>
<html ng-app>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="http://code.angularjs.org/1.0.1/angular-1.0.1.min.js"></script>
  <script src="http://underscorejs.org/underscore-min.js"></script>
  
  <script src="js/question.js"></script>
  
  <link rel="stylesheet" href="css/bootstrap.css">
</head>
<body>
  <div ng-controller="QuestionCtrl">
    <h3>Total Questions: {{questions.length}}</h3>
    <h4>Correct Responses: {{getCorrectAnswers()}}
    <ul class="unstyled">
      <li ng-repeat="question in questions">
        <div>Who said {{question.text}}</div>
        <ul class='square'>
          <li ng-repeat="a in question.possible_authors">
            <a href="#" ng-click="checkAnswer()">{{a}}</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</body>
</html>