<div ng-controller="UserCtrl">

  <div class="eight columns offset-by-four">
    <h1><a href="/">DC Tech or DC Rap</a> Leaderboard!</h1>
  </div>
  
  <div class="eight columns offset-by-four">
    
    <table class="table-striped users" id="users">
      <thead>
        <th>Ranking</th>
        <th>User</th>
        <th>Score</th>
        <th></th>
      </thead>
      <tbody>
        <tr ng-repeat="user in users" class="ranking-{{$index + 1}}">
          <td>
            <span ng-show="$index < 3" class="trophy">
              <i class="icon-trophy place-{{$index +1}}"></i>
            </span>
            {{$index + 1}}
          </td>
          <td class="user-name">
            <img ng-src="{{user.img_url}}" />
            <div>{{user.name}}</div>
          </td>
          <td>
            {{user.score}}
          </td>
        </tr>
      </tbody>
    </table>
  
  </div>

</div>