    <div class="footer sixteen columns alpha omega">
    </div>

  </div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="http://platform.twitter.com/anywhere.js?id=dfrfRrhx2uIYXvwPGH3sPg&v=1" type="text/javascript"></script>
  
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">stLight.options({publisher: "ur-39c98d6d-f657-316-42a6-b28b25a8384f"});</script>

  <script src="/js/question.js"></script>
</body>
</html>