<!doctype html>
<html ng-app>
<head>  
  <title>#DCTech or DC Rap?</title>
  <link rel="shortcut icon" href="/img/favicon.ico" />

  <link href='http://fonts.googleapis.com/css?family=Bevan' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/font-awesome.css">
  <link rel="stylesheet" href="/css/local.css">

  <meta property="og:image" content="http://techorrap.com/img/dc-logo.png"/>
  <meta property="og:title" content="#DCTech or DC Rap?"/>

</head>

<body>
  <div class="container">
  