<!doctype html>
<html ng-app>
<head>  
  <link rel="shortcut icon" href="/images/favicon.ico" />

  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/local.css">
  
</head>
<body>
  <div ng-controller="QuestionCtrl" class="container">
    
    <div class="eight columns offset-by-four">
      <h1>DC Tech or DC Rap?</h1>
      <p>
        Decide who said the quotes to the left and see if you can distinguish!
      </p>
    </div>
    
    <div class="eight columns offset-by-four">
      
      <ul class="unstyled questions" id="questions">
        <li ng-repeat="question in questions" class="correct-{{question.correct}}-tried-{{question.tried}}" data-question-id="{{$index}}">
          <div>Who said 
            <blockquote>{{question.text}}</blockquote>
          </div>
          
          <ul class='unstyled choices'>
            <li ng-repeat="a in types">
              <a href="#" ng-click="checkAnswer()" class="btn btn-large">{{a.display}}</a>
            </li>
          </ul>
          <div class='extra-show-{{question.extra.length > 0}}' ng-bind-html-unsafe="question.extra">
          </div>
        </li>
      </ul>
    
    </div>
    
    <ul id="extras">
      <li>
        DC Native Wale raps this line in the first verse of Ambition, the title track on his second commercial album
        <iframe width="340" height="191" src="http://www.youtube.com/embed/O7ZbM7ak8uw?rel=0" frameborder="0" allowfullscreen></iframe>      
      </li>
      <li>
        #DCTech pioneer Peter Corbett gives us this quote during an interview with Frank Gruber and Tech Cocktail.
        <iframe width="340" height="191" src="http://www.youtube.com/embed/jdjdGEcT1jw?rel=0" frameborder="0" allowfullscreen></iframe>  
      </li>
    </ul>
    
    
    <div id="result-modal" class="modal fade"> 
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">x</button>
          <h3>Results:</h3>
      </div>
      <div class="modal-body">
          <h3>You ended up getting {{getCorrectAnswers()}} out of {{questions.length}} correct. That's {{getPercent(getCorrectAnswers(), questions.length)}}%!</h3>
          
          <h4>Connect with Twitter to join the <a href="/leaderboard">leaderboard</a>!</h4>
          <span id="twitter-connect-placeholder"></span>
          
      </div>
      <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
      </div>
    </div>
  
  </div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="http://code.angularjs.org/1.0.1/angular-1.0.1.min.js"></script>
  <script src="http://underscorejs.org/underscore-min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="http://platform.twitter.com/anywhere.js?id=dfrfRrhx2uIYXvwPGH3sPg&v=1" type="text/javascript"></script>
  
  <script src="/js/question.js"></script>
</body>
</html>