/*
  colors:
    #eee
    #ccc
    #D93E38 red
    #D1F2A5 green
    
    #F7E72F gold
    #cccccc silver
    #DD8E2A bronze


*/

body{
  font: 400 16px/1.6 'Pontano Sans', Verdana, Helvetica, sans-serif;
  background: url(../img/az_subtle.png) #eee;
}

h1 {
  font: 400 42px/1.3 'Bevan', Georgia, serif;
}

h2, h3{
  font-family: : 'Bevan', Georgia, serif;
}

#extras{
  display: none;
}

blockquote {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  padding-left: 15px;
  border-left: 3px solid #ccc;
}

iframe{
  display: block;
  margin: 10px auto;
}

a:active{
  position: relative;
  top: 1px;
}

.questions li{
  background: #fff;
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
}

.questions li a{
  color: #333;
  border-bottom: 1px dashed #aaa;
}

.questions li a:hover{
  text-decoration: none;
  border-bottom: 1px solid #aaa;
}

.questions .extra{
  padding: 10px;
  background: #eee;
  margin-top: 20px;
  font-size: 14px;
}

.questions .choices a{
  border-bottom: 1px solid #ccc;
  display: block;
  width: 140px;
  margin: 0 auto 10px auto;
}


.questions li ul li{
  padding: 0;
  margin: 5px;
  background: transparent;
}

.questions .correct-false-tried-true{
  background: #D93E38;
}

.questions .correct-true-tried-true{
  background: #D1F2A5;
}

.extra-show-false{
  display: none;
}

#result-modal{
  display: none;
}

table.users{
  margin-top: 20px;
}

table.users tr th {
  padding: 0 20px 10px 0;
  text-align: left;
}

table.users .user-name img{
  float: left;
  padding: 0 15px 0 0;
} 

table.users .user-name div{
  float: left;
  padding: 15px 15px 0 0;
} 

table.users span.trophy{
  padding-left: 10px;
}

.icon-trophy.place-1{
  color: #F7E72F
}

.icon-trophy.place-2{
  color: #cccccc
}

.icon-trophy.place-3{
  color: #DD8E2A
}


